.navBar__cart a sub
{
    color:  #90003b !important;
    
    
}


.content
{
    grid-area: main;
    display: grid;
      min-height: 60vh;
padding: 44px;
    justify-items: center;    
}

table img{
    
    width: 44%;
}

tbody tr{
border-bottom:1px solid #85a4c5;
height: 130px;

}
thead tr{
    font-size: 1.5rem;
    border-bottom: 5px solid #85a4c5;
}
th,td{
    width:5%;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
table{
    border-collapse: collapse;
    border-spacing: 30px;
}

table a{
    text-decoration: none;
    border-radius: 60px;
    border: 0;
    background-color: #850b0bd4;
    color: white;
    padding: 8px 22px;
    box-shadow: 0px 0px 19px 2px #96262a;
  
   
}
table a:hover{
 
    box-shadow: 0px 0px 4px 2px #96262a;
}

table a:active{
   
    box-shadow: 0px 0px 0px 2px #96262a;
}

